<h1>Student Details</h1>
id: <span>{{student.id}}</span> <br/>
name: <span>{{student.name}}</span> <br/>
age: <span>{{student.age}}</span> <br/>
wage: <span>{{student.wage}}</span> <br/>
active: <span>{{student.active}}</span> <br/>
