<div>
  {{input value=id placeholder="new worker id"}} <br/>
  {{input value=name placeholder="new worker name"}} <br/>
  {{input value=age placeholder="new worker age"}} <br/>
  {{input value=wage placeholder="new worker wage"}} <br/>
  {{input value=active placeholder="new worker active"}} <br/>
  <button {{action 'createWorker'}}>Create worker</button>
</div>
