<div>
  {{input value=model.id placeholder="worker id"}} <br/>
  {{input value=model.name placeholder="worker name"}} <br/>
  {{input value=model.age placeholder="worker age"}} <br/>
  {{input value=model.wage placeholder="worker wage"}} <br/>
  {{input value=model.active placeholder="worker active"}} <br/>
  {{#link-to 'workers'}}Back to workers{{/link-to}}
</div>
