<div>
  {{input value=model.id placeholder="old worker id"}} <br/>
  {{input value=model.name placeholder="updated worker name"}} <br/>
  {{input value=model.age placeholder="updated worker age"}} <br/>
  {{input value=model.wage placeholder="updated worker wage"}} <br/>
  {{input value=model.active placeholder="updated worker active"}} <br/>
  <button {{action 'updateWorker'}}>Update worker</button>
</div>
